{% extends "base.html" %}{% block content %}
<form method="post" novalidate>
  <label class="form-label">USUARIO</label>
  <input class="field {% if error %}invalid{% endif %}"  name="username" autocomplete="username" value="{{ request.form.get('username','') }}">
  <label class="form-label">CONTRASEÑA</label>
  <input class="field {% if error %}invalid{% endif %}" type="password" name="password" autocomplete="current-password">
  {% if error %}
  <label class="form-label">INGRESE SU USUARIO Y CONTRASEÑA CORRECTOS PORFAVOR</label>
  {% endif %}
  <button class="btn" type="submit">INICIAR SESION</button>
</form>
{% endblock %}
